@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
    font-family: "iransharp";
    src: url("/src/assets/font/iransharp_regular_web.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "iransharp";
    src: url("/src/assets/font/iransharp_bold_web.woff") format("woff");
    font-weight: 700;
}
*{
    font-family: 'vazir',sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}